# Visual Studio Intellisense
*.sdf

# Visual Studio solution user options
*.suo

# Visual Studio user specific stuff
*.user

# Visual Studio temp file (only when VS open)
*.opensdf

# directories
assignment1-dist/bin/
assignment1-dist/build/
.vs/
